# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS files
.DS_Store

# Sub-directories
src/lunarlander_weights/
src/lunarlander_weights_a2c/

# VSCODE files
.vscode/

# Project files
/*.project
/*.pydevproject
/.settings

# Images
Figures/
Figures-2/
*.png

# Numpy files
*.npy

*.pdf